#img{
  border-radius: 24px;
}

.label {
  margin-top: 30px;
}

.lb {
  margin-top: 40px;
  margin-left: 300px;
  font-weight: bold;

}

#btn-1 {
  border-radius: 8px;
  align-items: flex-end;
  background-color: #009A2B
}

#btn-2 {
  border-radius: 8px;
  align-items: flex-end;
  background-color: #B80C09
}
