.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-drawer{
  width: 45%;
}

.barra-titulo, .barra-titulo > *{
  background-color: red;
}

.minas{
  font-weight: bold;
  color: white;
}
