<div class="personalizado">
  <img src="assets/perfil.png" class="img" alt="">
</div>
<p class="p">Nome</p>
<label class="label-email" for="email">Email:</label>
<p class="paragrafo">fulano@gmail.com</p>
<label class="label" for="cpf">CPF:</label>
<p class="paragrafo">123.456.789.10</p>
<label class="label" for="celular">Celular</label>
<p class="paragrafo">(15)99122-3345</p>
<label class="label" for="endereco">Endereço:</label>
<p class="paragrafo">Rua Francisca Proença - Nº15 - Itaberá/SP</p>
<label class="label" for="cep">CEP:</label>
<p class="paragrafo">18400-000</p>
