.p {
  margin-left: 15px;
}

.img {
  object-fit: cover;
  width: 140px;
  height:153px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 8px;
}

.p2 {
  font-weight: bold;
  margin-left: 15px;
}

#btn {
  background-color: #274690;
  border-radius: 8px;
  color: #FFFFFF;
  width: 163px;
  height: 40px;
}

#btn2 {
  background-color: #B80C09;
  border-radius: 2px;
  color: #FFFFFF;
  width: 149px;
  height: 30px;
}
