<div class="d-flex justify-content-center my-4">
  <p>COMPRA FINALIZADA</p>
</div>
<div class="d-flex justify-content-center">
  <p class="p">Parabéns pela sua compra! Cars GAG te agradece pela</p>
</div>
<div class="d-flex justify-content-center">
  <p>preferência.</p>
</div>
<div class="d-flex justify-content-center my-3">
  <img src="assets/carros/hilux/hilux1.jpg" class="img">
</div>
<div class="d-flex justify-content-start">
  <p class="p">Nome do produto</p>
</div>
<div class="d-flex justify-content-start">
  <p class="p2">R$ 00,00</p>
</div>
<div class="d-flex justify-content-center my-4">
  <button type="button" id="btn" class="btn btn-primary">Dowload Boleto</button>
</div>
<div class="d-flex justify-content-end my-5">
  <button type="button" id="btn2" class="btn btn-danger btn-sm" routerLink="/home">Voltar a home</button>
</div>


