<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/carros/hilux/hilux1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/carros/mercedes_sedan/merecedes1.jpeg" class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/carros/toro/toro1.jpg" class="img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container p-0">
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let f of carros">
    <div class="row g-0">
      <div class="col-4 my-6">
        <img [src]="f.foto" class="img">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h3 class="card-title">
          {{ f.nome }}
          <span id="button" class="btn btn-outline-danger btn-sm mt-20">{{ f.button }}</span>
         </h3>
          <div>
          </div>
          <p class="card-text"><small class="text-muted">{{ f.valor }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
