<div class="container">
  <h3 class="p">Carrinho de compras</h3>
</div>
<div class="container p-0">
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let f of carros">
    <div class="row">
      <div class="col-2 px-1">
        <img [src]="f.foto" class="img">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h3 class="card-title">
            {{ f.nome }}
          </h3>
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-md-6">
                <p class="card-text"><small class="text-muted">{{ f.valor }}</small></p>
              </div>
              <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"><span id="button"
                  class="btn btn-outline-danger btn-sm">{{ f.button }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container carro my-4">
  <div class="row">
    <div class="col-auto me-auto">
      <p class="">Total</p>
    </div>
    <p class="negrito">R$310.000</p>
  </div>
</div>
<div class="container carro my-4">
  <div class="row">
    <div class="col-auto me-auto">
      <p class="">Cupom</p>
    </div>
    <input type="text" placeholder="Insira seu cupom aqui" class="col-6">
  </div>
</div>

<div class="container">
  <div>
    <p class="negrito">Endereço</p>
  </div>
  <div>
    <button class="btn" type="button" (click)="formaPagamento()">Forma de pagamento</button>
    <p class="negrito">Forma de pagamento</p>
  </div>
  <div class="d-grid gap-2 d-md-end my-5">
    <button class="btn btn-danger" type="button" routerLink="/compra_finalizada" (click)="ConfirmButton()">Finalizar compra</button>
    <button class="btn btn-outline-danger" type="button" routerLink="/home">Continuar comprando</button>
  </div>
    </div>



