.p {
  margin-top: 23px;
}

.text{
  text-align: justify;
}

#button{
  margin-left: 185px;
  color: #B80C09;
}

.img {
  object-fit: cover;
  width:50px;
  height:50px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 8px;
}

.container {
  margin-top: 15px;
}

